body{
    font-family: 'Poppins','Roboto', sans-serif;
    overflow-x: hidden;

}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@200;300;400&display=swap');
body{
    font-family: 'Noto Sans Bengali', sans-serif;
} */
p,h1,h2,h3,h4,h5,h6,address,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* <!-- header section start here --> */
.top-header{
    background: #195B5B;
}
.top-header a{
    color: #fff;
    margin: 0 5px;
    transition: all .1s ease-in-out;
    text-decoration: none;
}
.top-header a:hover{
    color: #ff9c01;
}
.top-header-right a{
    font-size: 12px;
    transition: all .1s ease-in-out;
}
.logo{
    width: 150px;
    padding: 10px 0;
}
.menu{
    justify-content: space-between;
}
.main-menu{
    background: rgba(0,0,0,.9);
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    position: fixed;
    z-index: 999;
}
.nav-link {
    color: #fff;
    font-size: 14px;
    transition: all .1s ease-in-out;
    margin: 0 10px;
}
.nav-link:focus, .nav-link:hover {
    color: #ff9c01;
}
.may-design{
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 0 17px;
    font-size: 14px;
    background: #195B5B;
    border: 1px solid #fff;
    border-radius: 5px 0;
    padding: 4px;
}
.may-design:hover{
    background: #ffff;
    color: #195B5B;
}
/* <!-- header section end here --> */

/* <!-- banner section start here -->*/
.banner-area{
    position: relative;
    padding: 0;
  
}
.banner-area .banner-contant{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 66%;
    z-index: 9;
    color: #c0b8b8;
}
.banner-area .banner-contant p{
    font-size: 14px;
}
.banner-area .banner-contant .enroll-button{
    background: #f49603;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}
.banner-area .bannerr-overly {
    background: rgba(0,0,0,.75);
    height: 100%;
    position: absolute; 
    width: 100%;
}
.bannerr-overly img{
    /* height: 100vh; */
    object-fit: cover;
    width: 100vw;
}
 /* <!-- header section end here --> */

 /* <!-- card section start here --> */
.coustom-card{
    border: 1px solid rgba(244,150,3,.3);
    border-radius: 5px 5px 0 0;
    height: 130%;
    margin-top: -50px;
    position: relative;
    z-index: 9;
}
.coustom-header{
    background: #f49603;
    border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 10px;
    text-transform: capitalize;
}
.coustom-body{
    padding: 45px 10px;
    background: #ffff;
}
.coustom-body .enroll-button{
    background: transparent;
    border: 2px solid #f49603;
    border-radius: 5px;
    margin-top: 45px;
    padding: 5px 10px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}
.coustom-body .enroll-button:hover{
    background: #f49603;
}

  /* <!-- card section end here --> */
/* COURSES WE OFFER section start here */
/* =================================== */
  .section-gap{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
  }
 
  .react-tabs {
    margin: 0 auto 50px!important;
    width: fit-content!important;
    display: flex;
    list-style: none;
    padding: 0;
}
/* .react-tabs .cours-tabs{
    border-right: 1px solid #fff;
  }
  .react-tabs li:last-child {
    border-right: none;
    
} */

.btn-outline-primary {
    color: tomato !important;
    border-color: tomato !important;
    font-size: 18px !important;
    border: 1px solid tomato !important;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: tomato !important;
    border-color: tomato !important;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: tomato;
    border-color: tomato;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important; 
}
.upcoming-card{
    border-radius: 5px;
    box-shadow: 0 10px 15px silver;
    height: 100%;
    padding-bottom: 50px;
    position: relative;
    transition: all .3s ease-in-out;
}
.upcoming-card:hover{
    transform: scale(1.05);
}
.upcoming-card .save-amount{
    background: #ff0000ab;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000a8;
    left: 4px;
    padding: 1px 3px;
    position: absolute;
    top: 4px;
    z-index: 9;
    color: #fff;
}
.upcoming-card .save-amount p{
    color: #fff;
    font-size: 12px;
}
.img-container{
    position: relative;
}
.cours-card-content{
    background: rgba(0,73,73,.9);
    bottom: 0;
    color: #fff;
    font-size: 12px;
    margin-left: 3px;
    padding: 2px 10px;
    position: absolute;
    width: calc(100% - 6px);
}
.caerd-text{
    font-size: 12px;
}
.upcoming-card .cours-card-contents h6{
    background: #ff634712;
    border-bottom: 1px solid tomato;
    border-top: 1px solid tomato;
    color: #004949;
    font-size: 16px;
    padding: 5px;
}
.upcoming-card .cours-card-contents h6 span{
    background: #ff63474f;
    border-bottom: 1px solid #ff634794;
    border-top: 1px solid #ff634794;
    color: #000;
    font-size: 12px;
    padding: 0 5px;
}
.upcoming-card .cours-card-contents ul{
    padding: 0;
    list-style: none;
}
.upcoming-card .cours-card-contents ul li{
    color: gray;
    font-size: 14px;
}
.upcoming-card-fotter{
    bottom: 0;
    height: 50px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}
.upcoming-card-fotter button{
    background: transparent;
    border: 1px solid tomato;
    border-radius: 10px;
    color: tomato;
    font-size: 14px;
    padding: 4px 10px;
    transition: all .2s ease-in-out;
}
.upcoming-card-fotter button:hover{
    background: tomato;
    color: #fff;
}
.upcoming-card-fotter a button{
    border: 1px solid #f49603;
    color: #f49603;
}
/* COURSES WE OFFER section end here */
/* ================================= */

.youtube-card{
    border-radius: 10px;
    box-shadow: 0 0 25px grey;
    height: 100%;
    transition: all .5s ease-in-out;
}
.youtube-card:hover{
    transform: scale(1.05);
}

.youtube-contant-card{
    padding: 12px;
    
}
.youtube-contant-card h5{
    color: #008b8b;
    font-size: 16px;
}

.facbook-containt span{
    color: #008b8b;
    font-weight: bold;
}

.slick-slider-card{
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
    margin: 20px;
    padding: 20px;
}
.blockquota-footer{
    color: #6c757d;
    font-size: .875em;
    margin-bottom: 1rem;
    margin-top: -1rem;
}
.qouta-css{
    color: #008b8b;
    font-size: 35px;
}

.slick-next:before, .slick-prev:before {
    
    color: #008b8b !important;
    
}


.footer-area{
    padding: 35px 0;
    /* text-align: center; */
    background: #004949;
}

.footer-img{
    width: 100px;
}
.footer-contant{
    margin-top: 25px;
    text-align: left;
    color: #fff;
}
.footer-contant a{
    color: silver;
}
p strong{
    color: #fff;
    margin-bottom: 5px;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
   
}
.fotter-nav{
    margin-top: 40px;
    
}
.fotter-nav a{
    border-bottom: 1px solid #1a5656;
    color: silver;
    display: block;
    padding: 4px 0;
    transition: all .2s ease-in-out;
}
.fotter-nav a:hover {
    background: #1a5656;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #31D0F0 !important;
   
}

.btn-check:focus+.btn-info, .btn-info:focus { 
    box-shadow: none !important;
} 
.footer-area-last{
    background: #004949;
}
.fotter-hr{
    background: #44BEC7;
    height: 1px;
}
.footer-area-last p{
    color: silver;
    font-size: 12px;
}
.footer-area-last a{
    color: silver;
    font-size: 12px;
}

.to-top a {

    color: #fff;
    font-size: 37px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    z-index: 9999;
    height: 54px;
    width: 55px;
    display: none; 
    text-align: center;
    background: #44BEC7;
}
